* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px 30px;
  font-family: sans-serif, Helvetica, Arial;
  background: #f1f0f0;
  cursor: default;
}

header {
  margin-bottom: 10px;
  background: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 10px;
}

header h1 {
  text-align: center;
  padding: 10px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 5px;
  gap: 25px;
  padding: 10px;
  background-color: rgb(153, 185, 184);
  border-radius: 5px;
}

header ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(220, 230, 220, 0.726);
  gap: 5px;
}

header ul li:hover {
  background-color: rgb(203, 238, 237);
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-3px);
}
section ul {
  margin-left: 45px;
}

span {
  font-weight: 400;
  font-style: italic;
  padding: 5px;
  border-radius: 999px;
  color: rgb(0, 0, 0);
  background: rgb(219, 231, 253);
}

section {
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
}

section h3 {
  text-align: center;
  background: rgb(8, 8, 184);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.education {
  margin-top: 10px;
  padding: 5px;
  background: rgb(238, 236, 236);
  border-radius: 5px;
}

.title {
  background: rgb(205, 189, 250);
  border-radius: 5px;
  padding: 5px;
}

.education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience {
  background: rgb(238, 236, 236);
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

section h4 {
  margin-top: 10px;
}

section {
  margin-bottom: 20px;
}

section p {
  text-align: justify;
  margin-top: 10px;
}

.job-description {
  display: flex;
  justify-content: space-between;
}

.skill-description {
  margin-top: 10px;
  background-color: rgb(238, 236, 236);
  border-radius: 5px;
  padding: 5px;
}

.skill-description h5 {
  background: rgb(165, 182, 255);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

footer {
  padding: 10px;
  border-radius: 10px;
  background: rgb(0, 255, 191);
  text-align: center;
}

footer p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
